body{
    text-align: center;

}


.display-container{
    width: 500px;
    height: 300px;
    margin: 30px auto;
    display: block;
    border:2px solid black;
    
    
}


.player,.computer {
    width: 243px;
    height: 100px;
    display:inline-block;
    text-align:start;
    

}



button {
    padding: 10px 18px;
    border-radius: 10px;
    background-color:grey;
    color:white;


}
